body {
    box-sizing: border-box;
    padding-top: 54px;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    background-color: maroon;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}
.nav-brand {
  float: left;
  margin: 5px;
  font-size: larger;
  text-decoration: none;
  color: white;
}
.nav ul{
  list-style: none;
  margin:0;
  padding: 0;
  margin: 10px;
  float: right;
}

.nav li {
  display: inline;
  margin: 30px;
  padding: 10px;
}
.nav li:hover {
  background-color: black
}

.nav li.active {
  background-color: black
}

.nav-link {
  color: white;
  text-decoration: none;
}

.row {
    display: flex;
    margin: 0 -16px;
}

.col-25 {
    flex: 25%
}

.col-75 {
    flex: 75%
}
.col-50 {
    flex: 50%
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

.col-25,
.col-50,
.col-75 {
  margin: 0 18px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 80%;
    padding: 14px 12px;
    font-size: small;
    margin-bottom: 14px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.checkout-button {
    margin: 10px;
    font-size: larger;
    font-weight: 500;
    padding: 10px 25%;
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
    text-transform: uppercase;
}
.checkout-button:hover {
    background-color: #0B3DAF;
}

.cart p {
    color: maroon;
}
.cart span {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }@media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }