body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

  .form-check {
      margin: 40px 20px;

  }

  .my-text-area {
      width: 50%;
  }

  .section2 {
      margin: 25px;
  }

  .row {
      margin-top: 11px;
  }